{% extends "layout.html" %}
{% block body %}
<h2>Your Incomplete Tasks are</h2>
{% for task in all_tasks %}
    {% if task.complete == False %}
        <span> Name of task : {{task.description}}</span>
        <br>
        <span> Date created : {{task.date_created}}</span>
        <br>
        <span> ID of task : {{task.id}}</span>
        <br><br>
        <form action="{{url_for('update', id=task.id) }}" style="display: inline;">
        <input type=submit value="Update" style="background: rgba(255, 166, 0, 0.3); border: none;">
        </form>
        <form action="{{url_for('delete', id=task.id) }}" style="display: inline;">
            <input type=submit value="Delete" style="border: none; background: rgba(255, 0, 0, 0.415)">
        </form>
        <form action="{{url_for('change', id=task.id) }}" style="display: inline;">
            <input type=submit value="Finished?" style="border: none; background: rgb(41, 115, 220)">
        </form>
        <br><br>
    {% endif %}
{% endfor %}

<h2>Your Complete Tasks are</h2>
{% for task in all_tasks %}
    {% if task.complete == True %}
       <span> Name of task : {{task.description}}</span>
       <br>
       <span> Date created : {{task.date_created}}</span>
       <br>
       <span> ID of task : {{task.id}}</span>
        <br>
        <form action="{{url_for('update', id=task.id) }}" style="display: inline; ">
        <input type=submit value="Update" style="background: rgba(255, 166, 0, 0.3); border: none;">
        </form>
        <form action="{{url_for('delete', id=task.id) }}" style="display: inline">
            <input type=submit value="Delete" style="border: none; background: rgba(255, 0, 0,0.415)">
        </form>
        <form action="{{url_for('change', id=task.id) }}" style="display: inline;">
            <input type=submit value="Finished?" style="border: none; background: rgb(41, 115, 220)">
        </form>
        <br><br>
    {% endif %}
{% endfor %}

{% endblock body %}